html{
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }


img{
    width: 50%;
    height: auto;
   display: block;
   margin-left: auto;
   margin-right: auto;
}

.caro-img {
  max-width: 600px;
  max-height: 550px;
}

.about-p {
  text-indent: 30px;
}

#sizer {
  height: 360px;
  width: 640px;
}

a.btn:hover {
  color: #000000 !important;
  background-color: #ffffff !important;
}
